/* MAIN STYLING */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Press+Start+2P&family=Yesteryear&display=swap");
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* /////// */
/* MENU STYLING */
.navbar ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.navbar ul li {
  padding-right: 10px;
}
h1 {
  font-size: 28px;
  color: rgba(100, 72, 39, 0.733);
  font-family: "Limelight";
}
#firstTitle {
  font-family: "Limelight";
  font-size: 50px;
  text-align: center;
  color: #ece2cd;
  background-image: url(/1-img/art/fondepitt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px 300px;
}
/* ////// */

/* RESPONSIVE STYLING */
@media (max-width: 620px) {
  /* MAIN page styling */
  .navbar ul {
    display: flex;
  }
  #firstTitle{
    font-size: 1em;
  }
  .instruction {font-size: 1.1em;
    padding-bottom:60px;
  }
  .navbar button{ font-size: 0.6em;
    height: 50px;
    width: 90px;
    padding: 3px;
    margin: 0.4rem;
  }
  /* ABOUT page styling */
  .newWrapper {
    flex-direction: column;
    justify-content: center;
  }
  .newWrapper picture {
    text-align: center;
  }
  .par { font-size: 0.8em; }
  .par span { font-size: 1em; }
}
@media (min-width: 621px) {
  .par { font-size: 1.25rem; }
  .par span { font-size: 1.35em; }
  .newWrapper picture {
    margin-right:10vh;
    margin-top: 70px;
  }
}
/* ////// */

/* BACKGROUND STYLING */
#demo {
  background-image: url(/1-img/art/hemsworth.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  background-image: url("/1-img/pxArtGame.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(241, 200, 137);
  font-family: "Yesteryear";
}
button {
  font-family: "Press Start 2P";
  width: 150px;
  height: 50px;
  padding: 5px;
  border-radius: 25%;
  background: rgb(255, 192, 53);
  background: linear-gradient(
    43deg,
    rgba(255, 192, 53, 1) 0%,
    rgba(247, 213, 29, 1) 13%,
    rgba(255, 255, 255, 1) 17%,
    rgba(247, 213, 29, 1) 23%,
    rgba(255, 255, 255, 1) 75%,
    rgba(247, 213, 29, 1) 89%,
    rgba(247, 164, 29, 1) 95%
  );
}
.instruction {
  text-align: center;
  padding-top: 20px;
}
@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }
  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}
.shine {
  margin: 1rem;
  background: rgb(255, 192, 53);
  background: linear-gradient(
    43deg,
    rgba(255, 192, 53, 1) 0%,
    rgba(247, 213, 29, 1) 13%,
    rgba(255, 255, 255, 1) 17%,
    rgba(247, 213, 29, 1) 23%,
    rgba(255, 255, 255, 1) 75%,
    rgba(247, 213, 29, 1) 82%,
    rgba(247, 164, 29, 1) 95%
  );
  color: black;
  padding: 0.75rem 1.25rem;
  width: 175px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}
.shine:hover {
  transform: scale(1.05);
}
.shine:hover::after {
  content: "";
  display: block;
  width: 75px;
  height: 175%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: 0;
  animation: shine 200ms linear;
  transform: translateX(250px) rotate(-25deg);
}
/* ////// */
/* MAIN ZONES STYLING */
.wrapper:not(.is-active) {
  display: none;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.zone {
  display: flex;
  flex-direction: column;
}
.slidein {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0%;
  }
}
.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#friendZone {
  display: block;
  text-align: center;
}
#friendZone ul {
  text-decoration: none;
  list-style: none;
}
/* ////// */
/* ELEMENTS STYLING */
.black {
  color: black;
  background-color: black;
}
.box {
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
}
#circle {
  border-radius: 100%;
}
/* BUTTON STYLING */
@media (max-width: 620px) {
.icon {
  /* display: none; */
  height: 60px;
  width: 60px;
}
}
@media (min-width: 619px) {
  .icon {
    /* display: none; */
    height: 100px;
    width: 100px;
  }
  }
.right.icon:hover {
  transform: rotate(45deg);
  transition-duration: 1s;
}
.left.icon:hover {
  transform: rotate(-45deg);
  transition-duration: 1s;
}
.center {
  filter: brightness(0);
}
.centerHint {
  filter: brightness(0.15) drop-shadow(0 0 5px yellow);
}
.clicked {
  filter: drop-shadow(0 0 5px rgba(255, 186, 83, 0.986));
}
.presentation {
  font-size: 20px;
  color: rgba(100, 72, 39, 0.733);
  font-family: "Limelight";
  text-align:justify;
}
#flex {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.newWrapper{
  display:flex;
}
#authorIco {
  height:25vh;
}
.par{
  font-family: "Limelight";
  text-align: justify;
  margin: 2rem;
}