/* MAIN STYLING */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yesteryear&display=swap');
/* /////// */
/* MENU STYLING */

/* ////// */
/* BACKGROUND STYLING */
.demo {
  background-color: burlywood;
}
body {
  background-image: url("/1-img/pxArtGame.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(241, 200, 137);
  font-family: 'Yesteryear';
}
button {
  font-family: 'Press Start 2P';
  padding: 5px;
}
/* ////// */
/* MAIN ZONES STYLING */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
div {
  display: flex;
  flex-direction: column;
}

#friendZone{
  display: block;
  
}
/* ////// */
/* ELEMENTS STYLING */
.black {
  color: black;
  background-color: black;
}
.box {
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
}
#circle {
  border-radius: 100%;
}
/* BUTTON STYLING */
.icon {
  /* display: none; */
  height: 100px;
  width: 100px;
}
.center{
  filter: brightness(0);
}
.centerHint{
  filter: brightness(0.15) drop-shadow(0 0 5px whitesmoke);
}
/* .clicked { */
/* text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all; */
/* } */
/* Adding transformation when the button is active */

/* .clicked:active { */
/* transform: scale(0.98); */
/* Scaling button to 0.98 to its original size */
/* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
/* Lowering the shadow */
/* } */