
.demo{
    background-color: burlywood;
}

body {
    background-image: url("/1-img/pxArtGame.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(241, 200, 137);
}
.box{
    color:coral;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
#circle{
    border-radius: 100%;
    background-color: rgb(238, 240, 109);
}
#square{
    background-color: rgba(163, 238, 222, 0.89);
}
